.searchLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.search {
  flex-grow: 1;
  /* max-width: 330px; */
  max-width: 27%;
  margin-right: 60px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

.dropdowns {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.icon {
  display: none;
}

@media (max-width: 1200px) {
  .search {
    max-width: 200px;
    margin-right: 30px;
  }

  .filter {
    flex-grow: 1;
  }
}

@media (max-width: 744px) {
  .searchLayout {
    display: block;
  }

  .search {
    width: 100%;
    max-width: 100%;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .dropdowns {
    display: none;
  }

  .icon {
    display: flex;
    border: 1px solid var(--gray-200);
  }
}
