.fixedButton {
  display: none;
}

@media (max-width: 744px) {
  .fixedButton {
    display: block;
    position: fixed;
    bottom: 15px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
