.Container {
  margin: 0px 220px;
}

.title {
  font-family: BR B;
  padding: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24.58px;
  letter-spacing: -0.03em;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #a4a4a4;
}

div.cardDetail {
  display: flex !important;
  justify-content: center !important;
  height: 78px !important;
}
.rightContent {
  display: flex;
  justify-content: right;
}

.centerContent {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.cardImg {
  width: 960px;
  height: 720px;
}

.card {
  height: 845px;
  width: 440px;
}

.Tradelist {
  display: flex;
  gap: 80px;
}

@media (max-width: 1200px) {
  .Container {
    margin: 0px 50px;
  }
}
@media (max-width: 744px) {
  .Container {
    margin: 0px 20px;
  }
}
