.container {
  width: 100%;
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-top: 170px;
}

.containBox {
  width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoBox {
  position: relative;
  bottom: 90px;
}

.titleBox {
  width: 700px;
  height: 500px;
  margin-top: 50px;
}

.title1 {
  font-size: 70px;
}

.title2 {
  font-size: 100px;
  margin-top: 10px;
  width: 900px;
  margin-bottom: 150px;
}

.mainColor {
  color: var(--main);
}

.button {
  display: inline-block;
  max-width: 950px !important;
  height: 80px !important;
  border-radius: 10px !important;
  font-size: 30px !important;
  position: absolute;
  top: 480px; /* 버튼이 슬라이드 사이 검정 배경에 정확히 위치하도록 조정 */
  left: 50%; /* 중앙 정렬을 위해 왼쪽 50% 위치로 설정 */
  transform: translateX(
    -50%
  ); /* 정확한 중앙 정렬을 위해 자신의 너비의 반만큼 왼쪽으로 이동 */
  z-index: 10;
  display: inline-block;
}

/* HomePage.module.css */
.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

/* 반대 방향으로 움직이는 슬라이더를 위한 스타일 */
.reverseSlider {
  margin-top: 50px; /* 첫 번째 슬라이더와의 간격 */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px !important;
  margin-bottom: 80px !important;
  width: 500px !important;
  box-sizing: border-box;
  flex-shrink: 0;
}

.slide img {
  width: 500px;
  height: 400px;
  filter: blur(2px) brightness(0.5);
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .containBox {
    width: 700px;
  }

  .titleBox {
    width: 500px;
    height: 400px;
    margin-top: 150px;
  }

  .title1 {
    font-size: 50px;
  }

  .title2 {
    font-size: 60px;
    margin-top: 10px;
    width: 500px;
  }

  .button {
    max-width: 750px;
    height: 70px;
    margin-top: 60px;
    font-size: 20px !important;
    position: absolute;
    top: 300px;
    left: 25px;
    z-index: 10;
    display: inline-block;
  }

  .slider {
    top: 150px;
  }

  .logo {
    width: 500px;
    height: 180px;
  }
}

@media screen and (max-width: 744px) {
  .containBox {
    width: 300px;
  }

  .titleBox {
    width: 400px;
    height: 300px;
    margin-top: 100px;
  }

  .title1 {
    font-size: 40px;
  }

  .title2 {
    font-size: 60px;
    margin-top: 10px;
    width: 530px;
  }

  .button {
    max-width: 600px;
    height: 60px;
    margin-top: 50px;
    font-size: 15px !important;
    position: absolute;
    top: 180px;
    left: 30px;
    z-index: 10;
    display: inline-block;
  }

  .slider {
    top: 100px;
  }

  .logo {
    width: 450px;
    height: 180px;
  }
}
