.Button {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.06px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.Button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -200%;
  width: 200%;
  height: 50%;
  transform: rotate(45deg);
  transition: all 1s;
  pointer-events: none;
}
.Button.primary::before {
  background: rgba(255, 255, 255, 0.5);
}
.Button:hover::before {
  top: -50%;
  left: 100%;
  transition: all 1s;
}
.primary {
  background: var(--main);
  color: var(--black);
}

.primary_disabled {
  background: var(--gray-400);
  color: var(--gray-300);
}

.secondary {
  color: #fff;
  font-weight: 500;
  background: var(--black);
  border: 1px solid var(--gray-100);
}

.xxxl {
  width: 520px;
  height: 60px;
}
.xxl {
  width: 440px;
  height: 80px;
}
.xl {
  width: 440px;
  height: 55px;
}
.l {
  width: 345px;
  height: 75px;
}
.m {
  width: 345px;
  height: 55px;
}
.s {
  width: 342px;
  height: 75px;
}
.xs {
  width: 150px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
}
