.create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  max-width: 1480px;
  margin-bottom: 180px;
  margin-top: 60px;
}
.create .title {
  width: 100%;
}
.create .inner {
  padding-top: 80px;
}
.create .inputCover {
  display: block;
  margin-bottom: 60px;
  padding-bottom: 0;
}
.create .inputCover span {
  display: block;
  font-size: 20px;
}
.create .input {
  height: 60px;
}
.button {
  margin-top: 60px;
}

@media screen and (max-width: 1199px) {
  .create {
    max-width: 704px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 743px) {
  .create {
    max-width: 345px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .create .title {
    display: none;
  }
  .create .inner {
    padding-top: 20px;
  }
}
