.detail {
  margin: auto;
  width: 100%;
  max-width: 1480px;
  margin-top: 40px;
  padding-bottom: 195px;
}

.detail .title {
  margin-bottom: 60px;
}
.detail .title > div {
  max-width: 1480px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.imgBox {
  width: 100%;
  max-width: 960px;
  height: 720px;
  position: relative;
}
.imgBox img {
  width: 100%;
}

@media screen and (max-width: 1299px) {
  .detail {
    max-width: 704px;
    padding-bottom: 100px;
  }
  .detail .title > div > h2 {
    font-size: 32px;
  }
  .imgBox {
    max-width: 342px;
    height: 256px;
  }
}

@media screen and (max-width: 744px) {
  .detail {
    max-width: 345px;
    padding-bottom: 50px;
    margin-top: 20px;
  }
  .detail .title {
    margin-bottom: 20px;
  }
  .content {
    flex-wrap: wrap;
  }
  .imgBox {
    margin-bottom: 21px;
  }
}
