@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'BR B';
  src: url('/font/br_B.ttf') format('truetype');
}

:root {
  /* Black */
  --black: #0f0f0f;

  /* Gray scale */
  --gray-500: #161616;
  --gray-400: #5a5a5a;
  --gray-300: #a4a4a4;
  --gray-200: #dddddd;
  --gray-100: #eeeeee;

  /* White */
  --white: #ffffff;

  /* Red */
  --red: #ff483d;

  /* Blue */
  --blue: #29c9f9;

  /* Purple */
  --purple: #a77eff;

  /* Pink */
  --pink: #ff2a6a;

  /* Main */
  --main: #efff04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

input {
  border: none;
  color: var(--white);
}

input:focus {
  outline: none;
  border: none;
}

select {
  cursor: pointer;
  outline: none;
}

li {
  list-style: none;
}
